<div class="mdc-layout-grid {{classes}}">
    <slot />
</div>

<script>
export default {
  data () {
    return {
      fixedColumnWidth: '',
      align: ''
    }
  },
  computed: {
    classes: (fixedColumnWidth, align) => {
      const classList = []

      fixedColumnWidth  && classList.push('mdc-layout-grid--fixed-column-width')
      align === 'left'  && classList.push('mdc-layout-grid--align-left')
      align === 'right' && classList.push('mdc-layout-grid--align-right')
      
      return classList.join(' ')
    }
  }
}
</script>

<style type='text/scss'>
@import "@material/layout-grid/mdc-layout-grid";
</style>