<div class="mdc-card">
  <div class="{{isHorizontal}}">
    <section class="mdc-card__primary">
      {{#if slots['media']}}
      <section class="mdc-card__media">
        <slot name="media" />
      </section>
      {{/if}}
      {{#if slots['title']}}
      <div class="mdc-card__title{{classesTitle}}">
        <slot name="title" />
      </div>
      {{/if}}
      {{#if slots['subtitle']}}
      <div class="mdc-card__subtitle">
        <slot name="subtitle" />
      </div>
      {{/if}}
    </section>
  </div>

  {{#if slots['supportingText']}}
  <section class="mdc-card__supporting-text">
    <slot name="supportingText" />
  </section>
  {{/if}}

  {{#if slots['actions']}}
  <section class="mdc-card__actions{{classesActions}}">
    <slot name="actions" />
  </section>
  {{/if}}

</div>

<script>
export default {
  data () {
    return {
      classList: [],
      slots: [],
      verticalActions: '',
      largeTitle: 'yes',
      horizontal: ''
    }
  },
  oncreate () {
    this.set({ slots: this.options.slots })
  },
  computed: {
    isHorizontal: horizontal => horizontal && 'mdc-card__horizontal-block',
    classesActions: verticalActions => verticalActions && 'mdc-card__actions--vertical',
    classesTitle: largeTitle => largeTitle && 'mdc-card__title--large'
  }
}
</script>

<style type='text/scss'>
@import "@material/card/mdc-card";
</style>
