<div ref:self class="mdc-checkbox">
  <input type="checkbox" class="mdc-checkbox__native-control" model="{{checked}}" />
  <div class="mdc-checkbox__background">
    <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
      <path class="mdc-checkbox__checkmark__path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59" />
    </svg>
    <div class="mdc-checkbox__mixedmark"></div>
  </div>
</div>

<script>
import { MDCCheckbox } from '@material/checkbox'
export default {
  data () {
    return {
      checked: false,
      indeterminate: false,
      mdcCheckbox: null
    }
  },
  oncreate () {
    this.set({ mdcCheckbox: MDCCheckbox.attachTo(this.refs.self) })
    // this.set({ mdcCheckbox.indeterminate: this.get('indeterminate') })
  },
  ondestroy () {
    this.get('mdcCheckbox').destroy()
  }
}
</script>

<style lang="scss">
@import "@material/checkbox/mdc-checkbox";
</style>
