<aside class="mdc-dialog" ref:self role="alertdialog" on:accept="onAccept()" on:cancel="onCancel()">
    <div class="mdc-dialog__surface">
      {{#if slots['header']}}
        <header class="mdc-dialog__header">
            <MTitle><slot name="header" /></MTitle>
        </header>
      {{/if}}
      {{#if slots['body']}}
        <section class="mdc-dialog__body{{bodyClasses}}">
            <MBody><slot name="body" /></MBody>
        </section>
      {{/if}}
      {{#if slots['acceptButton'] || slots['cancelButton'] || slots['dialogButton']}}
        <footer class="mdc-dialog__footer">
          {{#if slots['acceptButton']}}
            <MButton class="mdc-dialog__footer__button mdc-dialog__footer__button--accept">
              <slot name="acceptButton" />
            </MButton>
          {{/if}}
          {{#if slots['cancelButton']}}
            <MButton class="mdc-dialog__footer__button mdc-dialog__footer__button--cancel">
              <slot name="cancelButton" />
            </MButton>
          {{/if}}
          {{#if slots['dialogButton']}}
           <MButton class="mdc-dialog__footer__button">
              <slot name="dialogButton" />
            </MButton>
          {{/if}}
        </footer>
      {{/if}}
    </div>
    <div class="mdc-dialog__backdrop"></div>
</aside>

<script>
import { MDCDialog } from '@material/dialog'
import MButton from '../Button/MButton.html'
import {
  MBody,
  MTitle
} from '../Typography'

export default {
  components: {
    MButton,
    MBody,
    MTitle
  },
  data () {
    return {
      slots: [],
      scrollable: false,
      mdcDialog: null
    }
  },
  oncreate () {
    this.set({ slots: this.options.slots })
    this.set({ mdcDialog: MDCDialog.attachTo(this.refs.self) })
  },
  ondestroy () {
    this.get('mdcDialog').destroy()
  },
  computed: {
    bodyClasses: scrollable => {
      return scrollable && ' mdc-dialog__body--scrollable'
    }
  },
  methods: {
    onAccept () {
      this.fire('accepted')
    },
    onCancel () {
      this.fire('canceled')
    },
    show () {
      this.mdcDialog.show()
    }
  }
}
</script>

<style lang="scss">
@import "@material/dialog/mdc-dialog";
</style>
