$mdc-theme-primary: #673AB7;
$mdc-theme-secondary: #CDDC39;
$mdc-theme-background: #F5F5F5;

:root {
  --mdc-theme-primary: $mdc-theme-primary;
  --mdc-theme-secondary: $mdc-theme-secondary;
  --mdc-theme-background: $mdc-theme-background;
}
